<!doctype html>
<html>
<head>
  <title>A Game</title>
</head>
<body>
    <form action="/madlib"><br>
        <h1>Let's begin!</h1>
        Give me a name <input type="text" name="proper_noun"><br><br>
        Choose a colour
        <select name="colors">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="yellow">Yellow</option>
        </select><br><br>
        Give me a noun <input type="text" name="common_noun"><br><br>
        Select an adjective
        <input type="radio" name="adjective" value="wonderous"> Wonderous
        <input type="radio" name="adjective" value="magical"> Magical
        <input type="radio" name="adjective" value="brick"> Brick<br><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>